body{
    display: grid;
    grid-template-areas: 'header header header'
    'nav main article'
    'footer footer footer';
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;

  
}


header, nav,div,article,footer{
    background-color: aqua;
    padding: 20px;
    /* background: gold; */

}

#header {
    text-align: center;
    grid-area: 'header';
}

#nav{
    grid-area: 'nav';

}

#main {
    grid-area: header;
    text-align: center;
  }
  #footer {
    grid-area: footer;
    text-align: center;
  }
  #article { 
    grid-area: article;      
    }
  #nav { 
    grid-area: nav; 
    }
  /* #siteAds { 
    grid-area: ads; 
    } */